.hero-unit{:style => "height:400px; overflow:hidden"}
  .AccordionBox
    %ul
      -slides.each do |slide|
        %li        
          = image_tag slide.image(:slide)          
          -if slide.description.present?
            .image-des-holder{:class => I18n.locale}
              = slide.description
  
:javascript
  window.DisableAccordionBox = false;
  $('.AccordionBox ul li').mouseover(function(){
    $('.AccordionBox ul li').removeClass( "active" );
    $(this).addClass('active');
    window.DisableAccordionBox = true;
  });
  $('.AccordionBox ul li').mouseout(function(){
    window.DisableAccordionBox = false;
  });
