.innerCenter{:id => I18n.locale} 
  .login-form
    = form_tag create_session_path, :class => "form-inline" do 
      .form-group        
        %span= text_field_tag :name, "",:class => "form-control", :placeholder => "نام کاربری را وارد کنید"       
        %span= password_field_tag :password, "", :class => "form-control", :placeholder => "رمز عبور را وارد کنید"
        .btn-group-vertical
          = button_tag "ورود", :type => 'button', :class => "btn btn-default"
        

