
.right.filters{:class => I18n.locale, :style => "width:91%" }   
  .contact
    = form_tag create_session_path do 
      .form-group 
        .lable=" نام کاربری:"
        = text_field_tag :name, "",:class => "form-control", :placeholder => "نام کاربری را وارد کنید"
        .lable=" رمز عبور:"
        = password_field_tag :password, "", :class => "form-control", :placeholder => "رمز عبور را وارد کنید" 
        %br
        .submit
          = submit_tag "ورود", :id => "more"
  .clear
%br

