.footer-menu{:id => I18n.locale}   
  %ul.go-center
    %li
      =link_to t("home"), home_path 
    %li 
      =link_to t("project"), project_categories_path 
    

    %li{:class => ('active' if current_page?(resources_path))}
      =link_to t("Resources"), resources_path
          
    - Page.all.each do |page|          
      %li
        =link_to page.title, page
.clear-float  
  
