%ul
  %li
    =link_to t("home"), home_path   
  
  %li.wide
    =link_to t("our-projects"), projects_path 
    
  %li
    =link_to t("resources"), resources_path     
    
  %li.bottom
    - @about = Page.find_by_title_en('About us')
    =link_to t('about'), @about 
    
  %li.wide.bottom
    =link_to t('services'), project_categories_path
    
  %li.bottom
    - @contact = Page.find_by_title_en('Contact us')
    =link_to t('contact'), @contact 
    

