%ul
  %li
    =link_to t("home"), home_path   
  
  %li.wide
    =link_to t("our-projects"), projects_path 
    
  %li
    =link_to t("resources"), resources_path     
    
  %li.bottom
    =link_to t('about'), pages_path 
    
  %li.wide.bottom
    =link_to t('services'), project_categories_path
    
  %li.bottom
    =link_to t('contact'), pages_path 
    

