.user-link
  =link_to 'صفحه متنی جدید', Page
  =link_to 'گروه بندی پروژه ها', project_categories_path  
  =link_to 'تعریف پروژه جدید', Project    
  =link_to 'تعریف کارفرما جدید', Employer
  =link_to 'تعریف منبع جدید', Resource
