#homeSliderBox.slider
  .sliderDisplay
    #sliderContent.sliderContent{style: "width: 2790px; left: -1860px; top: 0px;"}
      - Slide.all.each do |slide|
        .sliderItem
          = image_tag slide.image(:gallery_size)
        
    .clear
  %a.prev.displayBlock{href: ""} Prev
  %a.next.displayBlock{href: ""} Next
  
  
.homeTitle
  %h1 blur baran
.homeTwoCols  
  =raw @about.text

.title
  %h2= t('our-sectors')
.homeSectors
  = image_tag 'sectors.jpg'
  
