.slide-show  
  = render "slides/slider", :slides => Slide.all
  
 
:javascript
  $(".item").first().addClass("active");
  $(".slide-indicator").first().addClass("active");
  $('.carousel').carousel();
