.careers.twoCols
  .right
    .sectionName= t('bolur-baran')     
    %h1.pageName= t('resources')
   
  .clear
  .fa{:style => "width:100%"}
    = render 'form'
  .clear
  -if is_admin?  
    = link_to t('back'), resources_path

  


