/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require_tree .
 */
  
body {background:#4D4D4D; margin:0px; font-family: 'BYekan'; font-size:16px;  }
a {text-decoration:none; font-family: 'BYekan';  }
.user-menu {width:80%; height:40px; margin-top:5px}
.user-menu .user-link{float:right;width:90%; }
.user-menu .user-link a{float:right;width:150px; color:#fff; border-left:1px solid #fff; text-align:center}
.user-menu .language{float:right;width:10%; text-align:left}

.header-page {background:#4D4D4D;}
.main {width:80%; background:#fff; margin:0px; }
.clear-float  {clear:both}
.go-center { margin-right:auto; margin-left:auto}
.menubar .logo {float:left; width:20%}
.menubar .submenu {float:left; width:80%}
.menubar .other-submenu {float:left; width:80%; margin-top:30px}

.submenu .item { width: 100%; height:40px; margin-top:-13px}
.submenu .item ul{ width: 90%; list-style-type: none;}

.submenu .item ul li { float:right; width:120px; text-align:center; height:70px; color: #4D4D4D; font-weight:bold; font-size:20px;}
.submenu .item ul li:hover,.submenu .item ul li.active {color:#1E90FF}
.submenu .item ul li .item-pointer { text-align:center; max-height:50px; min-height:50px; }
.submenu .item ul li .item-pointer img { display:none; margin-top:-3px;  }
.submenu .item ul li:hover,.submenu .item ul li.active .item-pointer img { display:block; } 
.submenu .item ul li:hover,.submenu .item ul li.active ul.sub-menu {display:block}
.submenu .item ul li ul.sub-menu{ width:50%; margin-right:200px; margin-top:20px; display:none }
.submenu .item ul li ul.sub-menu li{ float:right; font-size:14px; font-weight:100; color:#1E90FF; }
.main .home-slider {width:100%; min-height:450px; }

.fa {text-align:right; font-family: B Yekan,'B Yekan',tahoma;}
.fa h1 {text-align:right}
.fa table {text-align:right}
.en {text-align:left; font-family:Helvetica,sans-serif;}
#en {direction:ltr}
#fa {direction:rtl}
.entry-content {min-height:300px}
.innerCenter {width:90%}
.innerCenter .show-projects .row { width:90%}
.innerCenter .show-projects .row .column{width:150px; float:right}
.visited {color:#7F7F7F}


.other-submenu .item {width: 100%; height:40px; margin:5px}
.other-submenu .item ul {width: 90%; list-style-type: none;}
.other-submenu .item ul li { float:right; width:120px; text-align:center; height:70px; color: #4D4D4D; font-weight:bold; font-size:20px; background:#2F4B4E}

