/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require colorbox-rails
 *= require_self
 *= require_tree .
 */
  

a {text-decoration:none; font-family: 'BYekan';  }

.user-menu {width:80%; height:40px; margin-top:5px}
.user-link{float:right;width:40%; text-align:center; margin-right:150px }
.user-link a{float:right;width:150px;  text-align:center}
.user-menu .user-link ul{margin-top:20px}
.user-menu .language{float:left;width:10%; text-align:left}

.right {float:right}
.main {width:80%;  margin:0px; }
.clear-float  {clear:both}
.go-center { margin-right:auto; margin-left:auto}
.logo {float:right; width:120px; margin-left:10px;}
.logo.smal { margin-top:-30px}
.menu-home-page {background:#fff; width:100%; height:150px}

.menu-home-page ul.main-menu{float:right; margin-top:100px; list-style-type: none;}
.menu-home-page ul.main-menu li a{background:#fff; color:rgb(6, 33, 52);-webkit-transition: 0.4s;transition: 0.4s; }

.menu-home-page ul.main-menu li{ float:right; width:150px; height:40px; text-align:center }
.menu-home-page ul.main-menu li:hover a,.menu-home-page ul.main-menu li.active a {color:rgb(57, 114, 155)}
.menu-home-page ul.main-menu li:hover .arrow-menu,.menu-home-page ul.main-menu li.active .arrow-menu{display:block}

.submenu {float:right; width:80%}
.submenu ul.main-menu{margin-top:50px; list-style-type: none;color:#fff}
.submenu ul.main-menu li{ float:right; width:150px; height:40px; text-align:center }
.submenu ul.main-menu li a {color:#fff;-webkit-transition: 0.4s;transition: 0.4s; height:65px}
.submenu ul.main-menu li:hover a,.submenu ul.main-menu li.active a  {color:rgb(57, 114, 155)}
.submenu ul.main-menu ul.dropdown-menu li a{color:rgb(57, 114, 155); height:20px; background:#fff;}
.menu-home-page ul.main-menu ul.dropdown-menu li a{color:rgb(57, 114, 155); height:20px; background:#fff;}
.menu-home-page ul.main-menu ul.dropdown-menu li:hover a{color:rgb(6, 33, 52)}
.submenu ul.main-menu ul.dropdown-menu li:hover a{color:rgb(6, 33, 52)}
.main .home-slider {width:100%; min-height:450px; }

.fa {text-align:right; font-family: B Yekan,'B Yekan',tahoma;}
.fa h1 {text-align:right}
.fa table {text-align:right}
.en {text-align:left; font-family:Helvetica,sans-serif;}
#en {direction:ltr}
#fa {direction:rtl}

.innerCenter {width:98%; min-height:400px; opacity:1}
.innerCenter table tr{margin:5px; height:130px}
.innerCenter table tr td{width:120px}

.column.icon{}
.trow .column.icon{width:50px; float:right}
.innerCenter .show-projects .trow .cat-pic {width:20%; float:right; margin:5px}
.innerCenter .show-projects .trow .show-detail { float:right; margin:5px; width:75%}

.innerCenter .show-projects .trow .show-pro { min-height:250px; margin:5px}
.show-pro-info{ 
  min-height:300px; 
  width:100%;   
  max-height:300px;   
  padding:5px;    
  margin:10px;   
  color:rgb(6, 33, 52);
}
.show-pro-info.even .pic-pro {border:1px solid #BFBFBF;
  height:250px; 
  width:300px;     
  padding:5px;
  text-align:center; 
  float:right;
  margin:5px  
  }
.show-pro-info.even .project-detail {float:right; width:60% }
.show-pro-info.odd .project-detail {float:left; width:60%}
.show-pro-info.odd .pic-pro {border:1px solid #BFBFBF;
  height:250px; 
  width:300px;     
  padding:5px;
  text-align:center; 
  float:left;
  margin:5px
  
  }
  
.show-pro-info img.first-img-pro { border:1px solid #BFBFBF;}
.projects-list {margin-bottom:10px; min-height:500px}
.projects-list .pro-viewer {height:300px; width:250px; float:right; border:1px solid #7F7F7F; margin:5px; text-align:center}
.projects-list .pro-viewer .pro-sample-pic {width:90%; height:200px}
.projects-list  .project-detail p {font-size:14px; color:rgb(6, 33, 52);}
.projects-list  .project-detail h4 {font-size:18px; color:rgb(6, 33, 52);}

.add-project  {width:20%; height:40px; float:right }
.show-employers {width:60%}

.visited {color:#7F7F7F}

.other-header { height:100px; margin-bottom:10px}

.language{float:left; width:10%; text-align:left}
.other-entry-content {background:#fff; min-height:500px}


.middle-div {width:98%; margin-top:50px;}
.tile-category {  
  min-width:100%;   
  max-width:100%;   
  padding:5px;     
 
  
  }
  
.tile-category  h4.category-name { font-size:20px; color:rgb(6, 33, 52);}
.tile-category  .category-des{   
  padding:5px;
  font-size:14px;
  color:rgb(6, 33, 52);  
  width:100%; 
  margin-top:20px;
  min-height:70px;   
  max-height:100px;}
.tile-category  .show-detail:hover { height:100px}
.tile-category hr {height:5px;background:rgb(218, 237, 255) }
.tile-category  .show-detail:hover .category-des{ display:block}
.tile-category  .category-name a{color:#fff; }
.tile-category  .show-detail {
  background:#df691a; 
  opacity:.7; 
  width:70%; 
  height:50px;
  cursor:pointer;
  margin-top:-20px; 
  margin-right:5px; 
  overflow:hidden; 
  transition: all 0.5s ease;
  
  }
.page-title {
  font: normal normal normal 70px/1.2em verdana, geneva, sans-serif;
  color: rgb(6, 33, 52); 
  height:90px; 
  width:100%;
  margin:10px;
  padding:10px;
    
  }
.page-title h1 {font-size:50px;}
.page-title a.new-project {float:left; font-size:20px}
.page-title a {float:left; font-size:20px}



.team-work-info {cursor:pointer}
.team-work-info .show-info-team {height:0px; overflow:hidden; transition: all 0.5s ease}
.team-work-info:hover .show-info-team { height:95px; }

.title-page {width:70%; padding-top:30px; margin-bottom:30px}
.title-page 
.footer {height:150px; padding:5px;  width:100%;}
.footer .foot-links { 
  width:100%;
  background:#ADD8E6; 
  margin-top:10px; 
  margin-bottom:10px; 
  height:50px; 
  text-align:center}
.footer .foot-links a {margin-top:30px; color:rgb(57, 114, 155);}
.footer .foot-links .link-margin-top { padding-top:20px}
.footer .foot-links a:hover {margin-top:20px; color:#61AFD4}
.footer .foot-links .footer-menu {}
.footer .foot-links .footer-menu ul{width:80%; list-style-type: none; text-align:center}
.footer .foot-links .footer-menu ul li{float:right; width:120px;margin-top:10px; height:50px}
.footer .foot-links .footer-menu ul li a{color:rgb(6, 33, 52);-webkit-transition: 0.4s;transition: 0.4s; height:65px}
.footer .foot-links .footer-menu ul li:hover a{color:#1E90FF;-webkit-transition: 0.4s;transition: 0.4s; height:65px}




.Necessary {color:#d9534f}

.resources-list {}
.resources-list .show-resource {
  float:right; 
  background:#ADD8E6;
  margin:5px ; 
  width:250px; 
  color:rgb(6, 33, 52);
  height:300px; 
  padding:5px;

  }

.resources-list .show-resource .pro-pic {text-align:center; width:90%; height:200px}
.resources-list .show-resource a {color:#F47F03;}
.resources-list .links {text-align:center}
.form-control {background-color: rgb(218, 237, 255);}
.team-work-info {width:200px; max-height:300px; text-align:center; float:right; margin:3px;}
.team-work-info .team-pic{width:156px; height:156px; text-align:center; padding:5px;}
.team-work-info .team-pic img{ border-radius:80px; border: 2px solid #7F7F7F; }
.team-work-info .list-teams {background-color: rgb(218, 237, 255); opacity:.8; margin-top:-20px; width:156px; color:rgb(6, 33, 52);}
.arrow-bottom { 
  width:20px;
  border-top: 10px solid rgb(218, 237, 255);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent; 
  margin-right:100px; 
  margin-left:100px;
  margin-top:-20px;
  margin-bottom:20px;
  }
.arrow-menu {
  display:none;
  margin-top:19px;
  width:20px;
  border-bottom: 10px solid rgb(6, 33, 52);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;}
.even {background: rgb(218, 237, 255); }
.odd {background:#fff}

.show-pics .project-pics {
  float:right; 
  margin:5px; 
  width:315px; 
  height:315px; 
  padding:3px; 
  text-align:center; 
 }
.show-pics .vertical-line {
  width:1px; 
  height:300px; 
  background:#ADD8E6; 
  float:right;
  margin-top:10px
  }
  
.send {max-width: 35%;
border-radius: 3px;
background-color: rgb(27, 153, 232);
ont: normal normal normal 16px/1.2em arial, helvetica, sans-serif;
color: rgb(255, 255, 255);
padding: 5px;
border: none;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
cursor: pointer;
margin: 0px;}
.contact {width:60%; }
.contact .lable label{width:120px; color: rgb(6, 33, 52);font-size:14px }
.contact .lable textarea{height:100px }
.contact .form-feild{border-radius: 3px;
background-color: rgb(218, 237, 255);
font: normal normal normal 12px/1.2em arial, helvetica, sans-serif;
color: rgb(6, 33, 52);
padding: 5px;
margin: 0px 0px 5px;
border: 0px solid rgb(218, 237, 255);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
width: 100%;
}



