/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require_tree .
 */
  

a {text-decoration:none; font-family: 'BYekan';  }

.user-menu {width:80%; height:40px; margin-top:5px}
.user-link{float:right;width:40%; text-align:center; margin-right:150px }
.user-link a{float:right;width:150px;  text-align:center}
.user-menu .user-link ul{margin-top:20px}
.user-menu .language{float:left;width:10%; text-align:left}

.right {float:right}
.main {width:80%; background:#fff; margin:0px; }
.clear-float  {clear:both}
.go-center { margin-right:auto; margin-left:auto}
.logo {float:right; width:120px; margin-left:10px}
.menubar .submenu {float:left; width:80%}


.submenu .item { width: 100%; height:40px; margin-top:-13px}
.submenu .item ul{ width: 90%; list-style-type: none;}

.submenu .item ul li { float:right; width:120px; text-align:center; height:70px; color: #4D4D4D; font-weight:bold; font-size:20px;}
.submenu .item ul li:hover,.submenu .item ul li.active {color:#1E90FF}
.submenu .item ul li .item-pointer { text-align:center; max-height:50px; min-height:50px; }
.submenu .item ul li .item-pointer img { display:none; margin-top:-3px;  }
.submenu .item ul li:hover,.submenu .item ul li.active .item-pointer img { display:block; } 
.submenu .item ul li:hover,.submenu .item ul li.active ul.sub-menu {display:block}
.submenu .item ul li ul.sub-menu{ width:50%; margin-right:200px; margin-top:20px; display:none }
.submenu .item ul li ul.sub-menu li{ float:right; font-size:14px; font-weight:100; color:#1E90FF; }
.main .home-slider {width:100%; min-height:450px; }

.fa {text-align:right; font-family: B Yekan,'B Yekan',tahoma;}
.fa h1 {text-align:right}
.fa table {text-align:right}
.en {text-align:left; font-family:Helvetica,sans-serif;}
#en {direction:ltr}
#fa {direction:rtl}

.innerCenter {width:98%; min-height:400px;background:#2b3e50;}
.innerCenter .show-projects .trow { width:90%; margin-bottom:30px}
.innerCenter .show-projects .trow .column {width:150px; float:right; height:40px}
.innerCenter .show-projects .trow .column.icon{width:50px; float:right}
.trow .column.icon{width:50px; float:right}
.innerCenter .show-projects .trow .cat-pic {width:20%; float:right; margin:5px}
.innerCenter .show-projects .trow .show-detail { float:right; margin:5px; width:75%}
.innerCenter .show-projects .trow .show-detail .category-des{width:400px;  min-height:50px}
.innerCenter .show-projects .trow .show-detail .category-name{width:400px;  min-height:50px}
.innerCenter .show-projects .trow .show-pro { min-height:250px; margin:5px}
.innerCenter .show-projects .trow .show-pro .show-pro-info{ 
  min-height:200px; 
  width:230px; 
  margin:5px; 
  background:#BBC8D6; 
  padding:5px; 
  text-align:center; 
  float:right;
  opacity: .7
}
.show-employers {width:60%}
.innerCenter .show-projects .trow .show-pro .show-pro-info:hover{ opacity:1}
.innerCenter .show-projects .trow .show-pro .show-pro-info .first-img-pro { margin:5px }
.visited {color:#7F7F7F}

.other-header {background:#fff;  height:150px}

.menubar .other-submenu {float:left; width:75%; margin-top:110px; }
.other-submenu .item {width: 100%; height:40px; margin:5px; text-align:center;}
.other-submenu .item ul {width: 90%; list-style-type: none;}
.other-submenu .item ul li {
  padding-top:5px; 
  float:right;
  width:120px; 
  text-align:center; 
  height:35px; 
  color:#000; 
  font-weight:bold; 
  font-size:20px; 
  border-right:1px #BFBFBF solid;
  border-left:1px #BFBFBF solid; 
  font-size:16px;
  font-weight:100}
.other-submenu .item ul li:hover,.other-submenu .item ul li.active {background:#4D4D4D; color:#1E90FF}
.menubar .language{float:left; width:10%; text-align:left}
.other-entry-content {background:#fff; margin-top:-10px}
.project-pics {float:right}

.middle-div {width:98%}

.title-page {width:70%; padding-top:30px; margin-bottom:30px}
.title-page .new-project {float:left;}
.footer {height:150px; padding:5px; background:#9A9DA0; color:#000000; width:100%}
.footer .foot-links { width:98%; background:#3d4954; margin-top:10px; margin-bottom:10px; height:90%; text-align:center}
.footer .foot-links a {margin-top:30px; }
.footer .foot-links .link-marg-top { padding-top:20px}
.footer .foot-links a:hover {margin-top:20px; color:#61AFD4}
.Necessary {color:#d9534f}

